@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/583/original/background.jpg?1681743283");
  background-size: cover;
  border-radius: 40px;
}

.cityUnit {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.cold {
  width: 60px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  gap: 70px;
  order: 5;
  justify-content: space-evenly;
  align-items: center;
}
.celsius {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: default;
  text-decoration: none;
}
.enter-city {
  height: 45px;
}
.fahrenheit {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: default;
  text-decoration: none;
}
.forecast-row {
  text-align: center;
  margin-bottom: 18px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.forecastMondayMax {
  font-size: 15px;
}

.forecastMondayMin {
  font-size: 15px;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.infoHumidity {
  display: inline;
}

.infoSpeed {
  display: inline;
}
.mainIcon {
  display: flex;
  justify-content: center;
}
.source {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.tempUnit {
  text-align: center;
}

.temperature {
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.timeDisplay {
  margin-left: 80px;
}
.unit {
  color: white;
  text-shadow: 1px 1px 2px black;
  cursor: default;
  text-decoration: none;
}

.unit:hover {
  text-decoration: none;
}

.weatherDescription {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-transform: capitalize;
}

.weather {
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.weatherInfo {
  margin: 0px 0px 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
